{{#each this}}
<li class="photo-card">
    <img class="gallery__image image-card" src="{{webformatURL}}" alt="{{tags}}" bigsrc="{{largeImageURL}}" />

    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
        </p>
        <span>{{likes}}</span>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
        </p>
        <span>{{views}}</span>
        <p class="stats-item">
            <i class="material-icons">comment</i>
        </p>
        <span>{{comments}}</span>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
        </p>
        <span>{{downloads}}</span>
    </div>
</li>
{{/each}}